.button__fetch {
    margin: 10px;
    background-color:rgb(0, 255, 174);
    border-bottom: 1px solid rgb(4, 133, 93) ;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}