.container__presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__img-presentation {
    max-width: 350px;
    img {
        width: 100%
    }
}




@import '../../styles/breakpoints';