.form {
    background-image: url(../../assets/rickandmorty.jpg);
    width: 50%;
    display: flex;
    border: 1px solid #04855d;;
    box-shadow:0px 1px 37px 1px rgba(54, 133, 93, 0.76) ;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-top: 100px;
    padding: 20px;
    input {
        margin-top: 15px ;
        height: 35px;
        width: 220px;
        border-radius: 5px;
    }
}

.container__labelinput {
    display: flex;
    flex-direction: column;
}

.container__iconsearch {
    width: 60px;
    img {
        width: 100%;
    }
}


@import '../../styles/breakpoints'