
// @media (max-width: 1399.98px) { ... }


// @media (max-width: 1199.98px) { 
   
// }


 @media (max-width: 991.98px) { 
    .p__logo {
        width: 150px;
        text-align: center;
        margin-left: 15px;
        font-size: 30px;
    }
   
    .card__container {
        max-width: 450px;
    }
    .info__container {
        width: 200px;
        h2 {
            width: auto;
        }
    }
    .form {
        width: 90%;
    }
    .container__episode-card, .container__location-card {
        h2 {
            font-size: 20px;
        }
    }
 }

@media (max-width: 767.98px) { 
    .navbar__ul, .container__box-mrmeeseeks {
        display: none;
    }
     .navbar {
       justify-content: space-around; 
       height: 130px;
    }
    .container__presentation {
        height: 90vh;
        align-items: center;
        text-align: center;
    }
    .container__options {
        flex-direction: column;
    }
    .option__container {
        margin: 20px 0;
    }
    .form {
        width: 120%;
    }
 }

@media (min-width: 767.98px) { 
    .button__menunavbar {
        display: none;
    }
 }

@media (max-width: 575.98px) {   
    .p__presentation {
        font-size: 35px;
    }
    .container__img-presentation {
        max-width: 200px;
    }
    //mainsection
    .section__main {
        height: 90%;
    }
    .container__img-main {
        height: 190px;
        background-size: 800px;
        background-position-y:-18cm;
    }
    .container__search-options {
        margin: 80px 0;
        .p__presentation {
            margin-bottom: 20px;
        }
    }
    .container__img-mrmeeseeks {
        max-width : 200px;
        img {
            width: 100%;
        }
    }
    .option__container {
        font-size: 15px;
        max-width: 180px;
        height: 120px;
        margin: 5px 0;
    }

    .button__fetch {
        padding: 5px 10px;
    }
    //form && sections
    .container__status, .container__location, .hide-mobile {
        display: none;
    }
    .card__container {
        overflow: hidden;
        max-width: 140px;
        flex-direction: column;
        .container__img-character {
            width: 100%;
            border: none;
            img {
                width: 100%;
                border-radius: 10px 10px 0px 0px;
            }
        }
    }
    .info__container {
        width: auto;
        margin:0;
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        h2 {
            text-align: center;
            font-size: 1rem;
            width: auto;
        }
    }
    .container__episode-card {
        .info__container {
            height: 100px;
            h2 {
                font-size: 15px;
                margin:0;
            }
        }
        .section-title {
            justify-content: center;
        }
    }
    .container__location-card {
        .info__container {
            height: 20px;
            h2 {
                font-size: 15px;
            }
        }
    }
    .container__img-location {
        width: 140px;
        border: none;
        img {
            border-radius: 10px 10px 0px 0px;
            width: 100%; 
        }
    }
    .container__img-episode {
        position: relative;
        width: 140px;
        height: 150px;
        border: none;
        border-radius: 10px 10px 0px 0px;
        img {
            position: absolute;
            left:-25%
        }
    }
    .p__episode-number {
        top: 30px;
        width: 69px;
        height: 39px;
        font-size: 30px;
        left:39px;
    }
  
    .container__notfoundsearch {
        max-width: 480px;
        padding: 20px;
    }
    .container__img-notfound {
        overflow: hidden ;
        width: 300px;
        img {
            position: relative;
            right:75px;
            width:150%
        }
    }
    .h2__searchnotfound {
        font-size: 30px;
    }

 }



