
// @media (max-width: 767.98px) { ... }

// // Medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) { ... }

// // Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) { ... }

// @media (max-width: 1399.98px) { ... }

@media (max-width: 575.98px) { 
    //navbar
    .navbar {
       justify-content: space-between; 
       height: 130px;
    }
    .p__logo {
        width: 150px;
        text-align: center;
        margin-left: 15px;
        font-size: 30px;
    }
    .navbar__ul, .container__box-mrmeeseeks {
        display: none;
    }
    // presentation
    .container__presentation {
        height: 90vh;
        align-items: center;
        text-align: center;
    }
    .p__presentation {
        font-size: 35px;
    }

    .container__img-presentation {
        max-width: 200px;
    }
    //mainsection
    .section__main {
        height: 90%;
    }
    .container__img-main {
        height: 190px;
        background-size: 800px;
        background-position-y:-18cm;
    }

    .container__options {
        flex-direction: column;
    }
    .container__search-options {
        margin: 80px 0;
        .p__presentation {
            margin-bottom: 20px;
        }
    }
    .container__img-mrmeeseeks {
        max-width : 200px;
        img {
            width: 100%;
        }
    }
    .option__container {
        font-size: 15px;
        max-width: 180px;
        height: 120px;
        margin: 5px 0;
    }

    .button__fetch {
        padding: 5px 10px;
    }

    //form && sections
    .form {
        width:120%;
    }
    .container__status, .container__location {
        display: none;
    }

    .card__container {
        overflow: hidden;
        max-width: 140px;
        flex-direction: column;
        .container__img-character {
            width: 100%;
            border: none;
            img {
                width: 100%;
                border-radius: 10px 10px 0px 0px;
            }
        }
    }
    .info__container {
        margin:0;
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        h2 {
            text-align: center;
            font-size: 1rem;
            width: auto;
        }
    }

    .container__episode-card {
        .info__container {
            height: 100px;
            h2 {
                font-size: 15px;
            }
        }
    }
    .container__location-card {
        .info__container {
            height: 20px;
            h2 {
                font-size: 15px;
            }
        }
    }

    .container__img-location {
        width: 140px;
        border: none;
        img {
            border-radius: 10px 10px 0px 0px;
            width: 100%; 
        }
    }

    .container__img-episode {
        width: 140px;
        height: 150px;
        border: none;
        border-radius: 10px 10px 0px 0px;
    }

    
    .p__episode-number {
        top: 30px;
        width: 71px;
        height: 39px;
        font-size: 30px;
        left:16px;
    }
    //modaldetailcharacter 

    .container__details-section {
       height: 100%;
    }
    .container__modal-info {
        height: 100%;
        overflow: scroll;
    }
    .container__info-bottompart {
        flex-direction: column;
    }


 }



