
// @media (max-width: 767.98px) { ... }

// // Medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) { ... }

// // Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) { ... }

// @media (max-width: 1399.98px) { ... }

@media (max-width: 575.98px) { 
    //navbar
    .navbar {
       justify-content: space-between; 
       height: 130px;
    }
    .p__logo {
        width: 150px;
        text-align: center;
        margin-left: 15px;
        font-size: 30px;
    }
    .navbar__ul, .container__box-mrmeeseeks {
        display: none;
    }
    // presentation
    .container__presentation {
        align-items: center;
        margin-top: 90px 50px 50px 0px;
        text-align: center;
    }
    .p__presentation {
        font-size: 35px;
    }

    .container__img-presentation {
        max-width: 200px;
    }


 }



