.card__container {
    display: flex;
    background-color: rgb(0, 0, 0);
    max-width: 500px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
    height: 200px;
    color: white;
    p {
        margin-top: 0;
    }
    border-right: 3px solid rgb(0, 255, 174);
    border-bottom: 2px solid rgb(45, 107, 87);
    cursor: pointer;
}

.img__container {
    width: 200px;
    display: flex; 
    border-right: 5px solid rgb(0, 255, 174); 
    overflow: hidden;
    img {
        border-radius: 10px 0px 0px 10px;
    }
}
.container__status {
    display: flex;
    align-items: center;
    div {
        width: 10px;
        height: 10px;
        border-radius: 100%;
    }
    
}
.subtitle {
    margin:0;
}

.info__container {
    margin-left: 15px;  
    h2 {
        margin-top: 10px;
        width: 250px;
        margin-bottom: 0;
        color:rgb(0, 255, 174)
    }
}

.container__img-episode {
    position: relative;
    border-radius: 10px 0px 0px 10px;
    img {
        height: 100%;
        position: absolute;
        left:-40%;
        z-index: 0;
    }
}

.p__episode-number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color:rgb(0, 255, 174);
    z-index: 1;
    font-size: 40px;
    top: 52px;
    left: 51px;
    background-color: black;
    width: 117px;
    height: 65px;
}

.section {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    margin-bottom: 10px;
}

.Alive {
    background-color:green;
}

.Dead {
    background-color:red;
}

.Unknown {
    background-color:white;
}
.subtitle {
    color: lightgrey;
    margin-bottom: 0;
}

@import '../styles/breakpoints'