.section__details {
    padding: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
}

.info-detail-section {
    margin-top: 15px;
    margin-left: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}


.color-font__detail-section {
    color: rgb(0, 255, 174);
    font-size: 22px;
    margin-top: 15px;
}
.h2__title-section {
    font-size: 40px;
    margin: 20px 0;
}

.container__cards-section-episode {
    display: flex;
    max-width: 1820px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    border-radius: 10px;
   
}

.container__cards-section-details {
    max-width: 1570px;
    margin:  20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 .info-detail-section {
     width: 400px;
     text-align: center;
     margin-top: 10px ;
     margin-left: 0;
 }
}

.card__container-related-section {
    width: 154px;
    flex-direction: column;
    border-radius: 10px;
    border-right: 4px solid rgb(0, 255, 174);
    border-bottom: 2px solid rgb(45, 107, 87);
    margin: 20px 10px;
    .info__container {
        padding:  0 5px;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90px;
        
    }
    h2 {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 5px 0;
        font-size: 17px;
        height: 60px;
        width: 100%;
    }
}

.card__container-related-section-character {
    width: 180px;
    .info__container {
        height: 110px;
    }
}


.container__img-details-section {
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    img {
        border-radius: 100%;
        border: 5px solid rgb(0, 255, 174);
        width: 100%;
    }
}



.container__img-related-section {
    width: 150px;
    border: none;
    img {
        width: 100%;
        border-radius: 10px 10px 0 0 ;
    }
}

.container__img-episode-detail {
    position: relative;
    max-width: 650px;
    img {
        width: 100%;
        border: 5px outset rgb(0, 255, 174);
        border-radius: 10px;
    }
    .p__episode-number {
        font-weight: bold;
        font-size: 70px;
        position: absolute;
        width: 203px;
        height: 108px;
        left: 220px;
        top:95px
    }
}


.episode-related { 
    position: relative;
    width: 100%;
    height: 140px;
    border: none;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    img {
        position: absolute;
        height: 153px;
        left:-28%;
    }
    .p__episode-number {
        top: 40px;
        width: 92px;
        height: 50px;
        font-size: 30px;
        left:49px;
    }
}

@import '../styles/breakpoints'