.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    box-shadow: 0px 1px 37px 1px rgba(54, 133, 93, 0.76) ;
    height: 200px;
    font-size: 30px;
    z-index: 3;
    border-top: 1px solid rgb(4, 133, 93);
    p{
        color: rgb(0, 255, 174)
    }
    .ul__footer {
        display: flex;
        li {
        
            color:rgb(0, 255, 174);
            margin: 20px 15px 0 15px;
        }
    }
}
