
@import '../../styles/variables';

.container__search-options {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 180px 0;
    animation-name: fadeIn;
    animation-duration: .8s;
    animation-timing-function: linear;
}

.container__options {
    display: flex;
    margin-top: 40px;
}

.option__container {
    padding: 10px;
    width: 220px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: $main-color;
    border: 1px solid rgb(4, 133, 93) ;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    margin: 0 20px;
    height: 190px;
}

.container__img-mrmeeseeks {
    padding-top: 20px;
    width : 400px;
    img {
        width: 100%;
    }
}

@import '../../styles/breakpoints'